@charset "UTF-8";

.box {
	width: 100px;
	height: 100px;
	
	margin: 50px 50px;
	background: aqua;
}

.box1:hover {
	background: gray;
	transition : all 3s ease;
}

.box2:hover {
	border-radius: 10%;
	background: lime;
	transition : all 1000ms cubic-bezier(.17,.67,.89,.67);
}

.box3:hover {
	border-radius: 50%;
	background: green;
	transform : translateX(400px);
	transition : all 3s cubic-bezier(.17,.67,.89,.67);
}